/*CASPER*/

/*Top ikoner*/
.card-1 {
    background-color: #464a4c;
    border-color: #464a4c;
    color: #fff;
}

.card-2 {
    background-color: #464a4c;
    border-color: #464a4c;
    color: #fff;
}

.card-3 {
    background-color: #464a4c;
    border-color: #464a4c;
    color: #fff;
}

.card-4 {
    background-color: #464a4c;
    border-color: #464a4c;
    color: #fff;
}

/*Tal i oversigt over abonnement*/

.text-1 {color: #6cd1ea;}

.text-2 {color: #facfd7;}

.text-3 {color: green;}




/*------------------------*/


/*ANDERS*/
.form{padding: 2%;}
