/*CASPER*/

.card-1 {
    background-color: #6cd1ea;
    border-color: #6cd1ea;
}

.card-2 {
    background-color: #facfd7;
    border-color: #facfd7;
    
}

.card-3 {
    background-color: #c2eae9;
    border-color: #c2eae9;
    
}

.card-4 {
    background-color: #434446;
    border-color: #434446;
    
}




/*------------------------*/


/*ANDERS*/
